
@use "colors";
@use "mixins";
.articles-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto;
    .blog-main-heading {
        font-family: Roboto;
        font-weight: bold;
        font-size: 4rem;
        color: colors.$main-orange;
        @include mixins.breakpoint(mobileonly) {
            font-size: 3rem;
        }
    }
    .blog-post-short  {
        border-left: 5px solid colors.$main-orange;
        border-radius: 10px;
        background-color: #fff9f1; // dodac do kolorow
        display: block;
        width: 60%;
        margin: 20px;
        @include mixins.breakpoint(mobileonly) {
            width: 100%;
        }
        .blog-post-link {
            text-decoration: none;
            color: colors.$bg-gray;
            display: block;
            padding: 15px;
            height: 100%;
            position: relative;
            @include mixins.breakpoint(mobileonly) {
                padding-top: 30px;
            }
            .article-title {
                font-family: Roboto;
                font-weight: bold;
            }
            .tags-wrapper {
                display: flex;
                margin-top: 20px;
                font-size: 0.8rem;
                position: absolute;
                top: -35px;
                right: 0;
                .tag {
                    border: 2px solid colors.$main-orange;
                    background-color: colors.$main-orange;
                    padding: 5px;
                    border-radius: 10px;
                    margin-right: 10px;
                    color: white;
                }
            }
            .metadata-short {
                color: colors.$text-gray;
            }
        }
    }
}

