@use "colors";
@use "mixins";
.articles-list {
  font-family: Roboto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1200px;
  margin: 0 auto;

  .intro-wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

    position: relative;
    .blog-main-heading {
      font-family: Roboto;
      font-weight: bold;
      font-size: 4rem;

      color: colors.$text-red;
      @include mixins.breakpoint(phablet) {
        font-size: 3rem;
        margin-bottom: 0;
      }
    }
    .brain-img {
      position: absolute;
      top: -50px;
      width: 25%;
      z-index: -1;

      @include mixins.breakpoint(tablet) {
        width: 150px;
        top: -10px;
        display: none;
      }
    }
  }
  .articles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    @include mixins.breakpoint(tablet) {
      padding-top: 0;
    }
    .latest-article-link {
      position: relative;
      border: 1px solid red;
      margin-bottom: 50px;
      width: 380px;
      background-color: colors.$white;
      border: 1px solid colors.$light-gray-border;
      margin-right: 20px;
      text-decoration: none;
      color: colors.$bg-gray;
      font-weight: bold;
      font-size: 20px;
      padding: 20px;
      padding-top: 30px;
      box-sizing: border-box;
      &:hover {
        color: colors.$text-red;
      }
      .tags-wrapper {
        position: absolute;
        top: -20px;
        .category-img {
          top: -18px;
          width: auto;
          height: 35px;
          z-index: 10;
          margin-right: 10px;
        }
      }

      .link-description {
        color: colors.$text-lighter-gray;
        font-weight: lighter;
        font-size: 15px;
      }
    }
  }
}
