$bg-light-gray: #ededed;
$bg-gray: #3c3c42; // this bg makes no sense here
$main-orange: #ff6b00;
$orange-secondary: #fff3e9;
$text-gray: #848484;
$css: #cf649a;
$typescript: #3278c6;

// NEW DESIGN COLORS
// TODO Check if the rest of the colors is still relevant
$text-red: #a64141;
$text-lighter-gray: #585858;
