@use 'colors';
@use 'mixins';

.footer {
  color: colors.$bg-gray;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 10px;

  display: flex;
  align-items: center;
  font-family: "Roboto";
  justify-content: space-between;
  padding: 1rem;

  @include mixins.breakpoint(mobileonly) {
    margin-bottom: 20px;
  }
  @include mixins.breakpoint(phablet) {
    display: flex;
    flex-direction: column;
  }
  .footer-box {
    margin-right: 20px;

    text-align: center;
    @include mixins.breakpoint(phablet) {
      width: 100%;
      margin-top: 25px;
    }
    @include mixins.breakpoint(mobileonly) {
      margin-right: 0;
    }
    .footer-icon {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
    .subpage-footer-link {
      color: colors.$text-gray;
      text-decoration: none;
      margin-right: 10px;
    }
  }
  .blog-name {
    font-weight: bold;
    font-size: 1.2rem;
  }
  .theme-red {
    color: colors.$text-red;
    font-weight: bold;
  }
}
