@use 'colors';
@use 'mixins';

.header-wrapper {
  max-width: 1200px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 100px;
  padding-left: 1rem;
  padding-right: 1rem;
  color: colors.$bg-gray;
  font-family: Roboto;
  .theme-red {
    color: colors.$text-red;
    font-weight: bold;
  }
  .mainHeader {
    margin-top: 3rem;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 7rem;
    @include mixins.breakpoint(tablet) {
      font-size: 5rem;
    }
    @include mixins.breakpoint(mobileonly) {
      font-size: 3rem;
    }
  }
  .hero-intro-text {
    margin-top: 10px;
    line-height: 25px;
    font-size: 18px;
    font-weight: 100;

    width: 430px;
    color: colors.$text-lighter-gray;
  }
  .brain-png {
    position: absolute;
    top: -70px;
    z-index: -1;
    right: 10%;
    @include mixins.breakpoint(tablet) {
      display: none;
    }
  }
  .header-link {
    text-decoration: underline;
  }
}
