@use 'colors';
@use 'mixins';

.header-wrapper {
  position: relative;
  color: colors.$bg-gray;
  font-family: Roboto;
  .theme-red {
    color: colors.$text-red;
    font-weight: bold;
  }
  .mainHeader {
    margin-top: 3rem;
    margin-bottom: 0;

    font-weight: bold;
    font-size: 7rem;
  }
  .hero-intro-text {
    margin-top: 10px;
    line-height: 25px;
    font-size: 18px;
    font-weight: 100;

    width: 430px;
    color: colors.$text-lighter-gray;
  }
  .brain-png {
    position: absolute;
    top: -100px;
    right: 180px;
  }
}
