@use 'colors';
@use 'mixins';

.not-found-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto-light;
    flex-direction: column;
    color: colors.$bg-gray;

    .headache-svg {
        width: 140px;
        @include mixins.breakpoint(phablet){
            width: 60px;
        }
    }
    .header-letter {
        font-size: 12rem;
        @include mixins.breakpoint(phablet){
            font-size: 5rem;
        }
    }
    .not-found-sub-header {
        color: colors.$main-orange;
        @include mixins.breakpoint(phablet){
            font-size: 1.2rem;
            width: 400px;
            text-align: center;
        }
    }
}