@use 'colors';
@use 'mixins';

.statistics {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  font-family: Roboto;
  h2 {
    padding-top: 30px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 35px;
  }
  .text-red {
    color: colors.$text-red;
  }
  .stats-inner-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 80px;
    .numberBox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 60px;
      max-width: 220px;
      text-align: center;
      .number-value {
        font-size: 25px;
        color: colors.$text-red;
        margin-bottom: 5px;
        font-family: Roboto;
        font-weight: bold;
      }
      .service {
        margin-top: 0;
        color: colors.$text-lighter-gray;
      }
    }
  }
}
