@charset "UTF-8";
.navbar {
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 10px;
  height: 50px;
  padding: 5px;
  display: flex;
  align-items: center;
  font-family: "Roboto";
  margin-top: 20px;
}
.navbar .headache-svg {
  width: 40px;
  height: 40px;
}
.navbar .navbar-list-item {
  list-style-type: none;
}
.navbar .navbar-list-item-link {
  text-decoration: none;
  color: #3C3C42;
}

.main-intro-wrapper {
  display: flex;
  align-items: center;
}
.main-intro-wrapper .mainHeader {
  font-size: 8rem;
  width: 915px;
  font-family: "Roboto";
  font-weight: normal;
  color: #3C3C42;
}
@media (max-width: 880px) {
  .main-intro-wrapper .mainHeader {
    font-size: 6rem;
    width: 400px;
  }
}
@media (max-width: 760px) {
  .main-intro-wrapper .mainHeader {
    font-size: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.main-intro-wrapper .mainHeader .thin-header-part {
  font-family: "Roboto";
  font-weight: lighter;
}
.main-intro-wrapper .mainHeader .bold-header-part {
  font-family: "Roboto";
  font-weight: bold;
}
.main-intro-wrapper .mainHeader .bold-header-part::before {
  content: "<";
  color: #FF6B00;
}
.main-intro-wrapper .mainHeader .bold-header-part::after {
  content: ">";
  color: #FF6B00;
}
.main-intro-wrapper .mainHeader .name-surname {
  font-size: 1rem;
  color: #FF6B00;
  font-family: "Roboto";
  font-weight: lighter;
}
.main-intro-wrapper .decorative-circle {
  background: #ff793f;
  box-shadow: 0 0 0 0 #ff793f;
  animation: pulse-orange 4s infinite;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-right: 100px;
}
@media (max-width: 880px) {
  .main-intro-wrapper .decorative-circle {
    display: none;
  }
}

@keyframes pulse-orange {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 121, 63, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 100px rgba(255, 121, 63, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
  }
}
.section-header {
  color: #FF6B00;
  font-family: Roboto;
  font-weight: bold;
  font-size: 2rem;
}
@media (max-width: 760px) {
  .section-header {
    font-size: 1.5rem;
  }
}
.section-header::after {
  content: ".";
  color: #3C3C42;
}

.latest-article-link {
  text-decoration: none;
  color: #3C3C42;
  font-family: Roboto;
  font-weight: normal;
  display: block;
  padding: 15px;
  margin: 20px;
  border-radius: 10px;
  width: 70%;
  border-left: 5px solid #FF6B00;
  border-right: 5px solid #FF6B00;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
  font-weight: bold;
}
@media (max-width: 760px) {
  .latest-article-link {
    margin: 20px 0;
  }
}
.latest-article-link .metadata-short {
  color: #848484;
  font-family: Roboto;
  font-weight: lighter;
}

*::selection {
  background-color: #FFF3E9;
}

.blog-post-wrapper {
  font-family: "Roboto";
  margin: 0 auto;
  max-width: 800px;
}
.blog-post-wrapper .main-blog-header {
  font-size: 4rem;
  font-family: "Roboto";
  font-weight: bold;
  color: #3C3C42;
  margin-bottom: 20px;
  text-align: center;
}
.blog-post-wrapper .metadata-short {
  color: #848484;
  text-align: center;
}
.blog-post-wrapper .tags-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.blog-post-wrapper .tags-container .tag {
  color: black;
  font-family: "Roboto";
  border: 2px solid #FF6B00;
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
}
.blog-post-wrapper .content-wrapper {
  margin-bottom: 50px;
}
.blog-post-wrapper .content-wrapper h2 {
  color: #FF6B00;
}
.blog-post-wrapper .content-wrapper p {
  font-size: 1.2rem;
  line-height: 2.2rem;
  color: #3C3C42;
}
.blog-post-wrapper .content-wrapper a {
  color: #3C3C42;
  text-decoration: none;
  border-bottom: 1px solid #FF6B00;
}
.blog-post-wrapper .content-wrapper ul, .blog-post-wrapper .content-wrapper ol {
  color: #3C3C42;
  padding-left: 20px;
  font-size: 1.2rem;
  line-height: 2.2rem;
}
.blog-post-wrapper .content-wrapper ul {
  list-style: none;
}
.blog-post-wrapper .content-wrapper ul li {
  position: relative;
}
.blog-post-wrapper .content-wrapper ul li:before {
  content: "•";
  color: #FF6B00;
  display: inline-block;
  position: absolute;
  left: -20px;
  top: 2px;
}
.blog-post-wrapper :not(pre) > code[class*=language-], .blog-post-wrapper pre[class*=language-] {
  border-radius: 10px;
}
.blog-post-wrapper .language-text {
  background-color: #FFF3E9;
  color: #3C3C42;
}

.footer {
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  font-family: "Roboto";
  margin-top: 200px;
  color: #848484;
  width: 100%;
}
@media (max-width: 37.5em) {
  .footer {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
}
.footer .footer-box {
  margin-right: 20px;
  width: 33%;
  text-align: center;
}
@media (max-width: 37.5em) {
  .footer .footer-box {
    width: 100%;
    margin-top: 25px;
  }
}
.footer .footer-box .footer-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.footer .footer-box .subpage-footer-link {
  color: #848484;
  text-decoration: none;
  margin-right: 10px;
}

.articles-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto;
}
.articles-list .blog-main-heading {
  font-family: Roboto;
  font-weight: bold;
  font-size: 4rem;
  color: #FF6B00;
}
@media (max-width: 760px) {
  .articles-list .blog-main-heading {
    font-size: 3rem;
  }
}
.articles-list .blog-post-short {
  border-left: 5px solid #FF6B00;
  border-radius: 10px;
  display: block;
  width: 60%;
  margin: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
}
@media (max-width: 760px) {
  .articles-list .blog-post-short {
    width: 100%;
  }
}
.articles-list .blog-post-short .blog-post-link {
  text-decoration: none;
  color: #3C3C42;
  display: block;
  padding: 15px;
  height: 100%;
  position: relative;
}
@media (max-width: 760px) {
  .articles-list .blog-post-short .blog-post-link {
    padding-top: 30px;
  }
}
.articles-list .blog-post-short .blog-post-link .article-title {
  font-family: Roboto;
  font-weight: bold;
}
.articles-list .blog-post-short .blog-post-link .tags-wrapper {
  display: flex;
  margin-top: 20px;
  font-size: 0.8rem;
  position: absolute;
  top: -35px;
  right: 0;
}
.articles-list .blog-post-short .blog-post-link .tags-wrapper .tag {
  background-color: #FF6B00;
  padding: 5px;
  border-radius: 10px;
  margin-right: 10px;
  color: white;
}
.articles-list .blog-post-short .blog-post-link .tags-wrapper .typescript {
  background-color: #3278c6;
}
.articles-list .blog-post-short .blog-post-link .tags-wrapper .css {
  background-color: #cf649a;
}
.articles-list .blog-post-short .blog-post-link .tags-wrapper .tldr {
  background-color: #FF6B00;
}
.articles-list .blog-post-short .blog-post-link .metadata-short {
  color: #848484;
}

.not-found-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-weight: lighter;
  flex-direction: column;
  color: #3C3C42;
}
.not-found-wrapper .headache-svg {
  width: 140px;
}
@media (max-width: 37.5em) {
  .not-found-wrapper .headache-svg {
    width: 60px;
  }
}
.not-found-wrapper .header-letter {
  font-size: 12rem;
}
@media (max-width: 37.5em) {
  .not-found-wrapper .header-letter {
    font-size: 5rem;
  }
}
.not-found-wrapper .not-found-sub-header {
  color: #FF6B00;
  max-width: 500px;
  text-align: center;
}
@media (max-width: 37.5em) {
  .not-found-wrapper .not-found-sub-header {
    font-size: 1.2rem;
    width: 400px;
    text-align: center;
  }
}

/*# sourceMappingURL=combined.css.map */
