@charset "UTF-8";
.navbar {
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 10px;
  height: 50px;
  padding: 5px;
  display: flex;
  align-items: center;
  font-family: "Roboto";
  margin-top: 20px;
}
.navbar .headache-png {
  width: 40px;
  height: 40px;
}
.navbar .navbar-list-item {
  list-style-type: none;
}
.navbar .navbar-list-item-link {
  text-decoration: none;
  color: #3c3c42;
}

.header-wrapper {
  max-width: 1200px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 100px;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #3c3c42;
  font-family: Roboto;
}
@media (max-width: 760px) {
  .header-wrapper {
    padding-bottom: 20px;
  }
}
.header-wrapper .theme-red {
  color: #a64141;
  font-weight: bold;
}
.header-wrapper .mainHeader {
  margin-top: 3rem;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 7rem;
}
@media (max-width: 880px) {
  .header-wrapper .mainHeader {
    font-size: 5rem;
  }
}
@media (max-width: 760px) {
  .header-wrapper .mainHeader {
    font-size: 3rem;
  }
}
.header-wrapper .hero-intro-text {
  margin-top: 10px;
  line-height: 25px;
  font-size: 18px;
  font-weight: 100;
  max-width: 430px;
  color: #585858;
}
.header-wrapper .header-link {
  color: #3c3c42;
}
.header-wrapper .brain-png {
  position: absolute;
  top: -70px;
  z-index: -1;
  right: 10%;
}
@media (max-width: 880px) {
  .header-wrapper .brain-png {
    display: none;
  }
}
.header-wrapper .header-link {
  text-decoration: underline;
}

.latest-articles {
  font-family: Roboto;
  background-color: #f8f8f8;
  color: #3c3c42;
}
.latest-articles .theme-red {
  color: #a64141;
  font-weight: bold;
}
.latest-articles .inner-wrapper {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}
.latest-articles .inner-wrapper .section-header {
  padding-top: 30px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 35px;
}
.latest-articles .inner-wrapper .latest-articles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.latest-articles .inner-wrapper .latest-articles-container .latest-article-link {
  position: relative;
  border: 1px solid red;
  margin-bottom: 50px;
  width: 380px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  margin-right: 20px;
  text-decoration: none;
  color: #3c3c42;
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
  padding-top: 30px;
  box-sizing: border-box;
}
.latest-articles .inner-wrapper .latest-articles-container .latest-article-link:hover {
  color: #a64141;
}
.latest-articles .inner-wrapper .latest-articles-container .latest-article-link .link-description {
  color: #585858;
  font-family: Roboto;
  font-weight: lighter;
  font-size: 15px;
}
.latest-articles .inner-wrapper .latest-articles-container .latest-article-link .tags-wrapper {
  position: absolute;
  top: -20px;
}
.latest-articles .inner-wrapper .latest-articles-container .latest-article-link .tags-wrapper .category-img {
  top: -18px;
  width: auto;
  height: 35px;
  z-index: 10;
  margin-right: 10px;
}

*::selection {
  background-color: #ffe8e8;
}

.blog-post-wrapper {
  font-family: "Roboto";
  margin: 0 auto;
  max-width: 800px;
  padding-left: 1rem;
  padding-right: 1rem;
}
.blog-post-wrapper .main-blog-header {
  font-size: 4rem;
  font-family: "Roboto";
  font-weight: bold;
  color: #3c3c42;
  margin-bottom: 20px;
  text-align: center;
}
.blog-post-wrapper .metadata-short {
  color: #848484;
  text-align: center;
}
.blog-post-wrapper .tags-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.blog-post-wrapper .tags-container .tag {
  color: black;
  font-family: "Roboto";
  border: 2px solid #a64141;
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
}
.blog-post-wrapper .content-wrapper {
  margin-bottom: 50px;
}
.blog-post-wrapper .content-wrapper h2 {
  color: #a64141;
}
.blog-post-wrapper .content-wrapper p {
  font-size: 1.2rem;
  line-height: 2.2rem;
  color: #3c3c42;
}
.blog-post-wrapper .content-wrapper a {
  color: #3c3c42;
  text-decoration: none;
  border-bottom: 1px solid #a64141;
  word-wrap: break-word;
}
.blog-post-wrapper .content-wrapper ul,
.blog-post-wrapper .content-wrapper ol {
  color: #3c3c42;
  padding-left: 20px;
  font-size: 1.2rem;
  line-height: 2.2rem;
}
.blog-post-wrapper .content-wrapper ul {
  list-style: none;
}
.blog-post-wrapper .content-wrapper ul li {
  position: relative;
}
.blog-post-wrapper .content-wrapper ul li:before {
  content: "•";
  color: #a64141;
  display: inline-block;
  position: absolute;
  left: -20px;
  top: 2px;
}
.blog-post-wrapper :not(pre) > code[class*=language-],
.blog-post-wrapper pre[class*=language-] {
  border-radius: 10px;
}
.blog-post-wrapper .language-text {
  background-color: #ffe8e8;
  color: #3c3c42;
}

.disqus-wrapper {
  max-width: 800px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}

.footer {
  color: #3c3c42;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-family: "Roboto";
  justify-content: space-between;
  padding: 1rem;
}
@media (max-width: 760px) {
  .footer {
    margin-bottom: 20px;
  }
}
@media (max-width: 37.5em) {
  .footer {
    display: flex;
    flex-direction: column;
  }
}
.footer .footer-box {
  margin-right: 20px;
  text-align: center;
}
@media (max-width: 37.5em) {
  .footer .footer-box {
    width: 100%;
    margin-top: 25px;
  }
}
@media (max-width: 760px) {
  .footer .footer-box {
    margin-right: 0;
  }
}
.footer .footer-box .footer-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.footer .footer-box .subpage-footer-link {
  color: #848484;
  text-decoration: none;
  margin-right: 10px;
}
.footer .blog-name {
  font-weight: bold;
  font-size: 1.2rem;
}
.footer .theme-red {
  color: #a64141;
  font-weight: bold;
}

.articles-list {
  font-family: Roboto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}
.articles-list .intro-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  position: relative;
}
.articles-list .intro-wrapper .blog-main-heading {
  font-family: Roboto;
  font-weight: bold;
  font-size: 4rem;
  color: #a64141;
}
@media (max-width: 37.5em) {
  .articles-list .intro-wrapper .blog-main-heading {
    font-size: 3rem;
    margin-bottom: 0;
  }
}
.articles-list .intro-wrapper .brain-img {
  position: absolute;
  top: -50px;
  width: 25%;
  z-index: -1;
}
@media (max-width: 880px) {
  .articles-list .intro-wrapper .brain-img {
    width: 150px;
    top: -10px;
    display: none;
  }
}
.articles-list .articles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}
@media (max-width: 880px) {
  .articles-list .articles-container {
    padding-top: 0;
  }
}
.articles-list .articles-container .latest-article-link {
  position: relative;
  border: 1px solid red;
  margin-bottom: 50px;
  width: 380px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  margin-right: 20px;
  text-decoration: none;
  color: #3c3c42;
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
  padding-top: 30px;
  box-sizing: border-box;
}
.articles-list .articles-container .latest-article-link:hover {
  color: #a64141;
}
.articles-list .articles-container .latest-article-link .tags-wrapper {
  position: absolute;
  top: -20px;
}
.articles-list .articles-container .latest-article-link .tags-wrapper .category-img {
  top: -18px;
  width: auto;
  height: 35px;
  z-index: 10;
  margin-right: 10px;
}
.articles-list .articles-container .latest-article-link .link-description {
  color: #585858;
  font-weight: lighter;
  font-size: 15px;
}

.not-found-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-weight: lighter;
  flex-direction: column;
  color: #3c3c42;
}
.not-found-wrapper .headache-svg {
  width: 140px;
}
@media (max-width: 37.5em) {
  .not-found-wrapper .headache-svg {
    width: 60px;
  }
}
.not-found-wrapper .header-letter {
  font-size: 12rem;
}
@media (max-width: 37.5em) {
  .not-found-wrapper .header-letter {
    font-size: 5rem;
  }
}
.not-found-wrapper .not-found-sub-header {
  color: #ff6b00;
  max-width: 500px;
  text-align: center;
}
@media (max-width: 37.5em) {
  .not-found-wrapper .not-found-sub-header {
    font-size: 1.2rem;
    width: 400px;
    text-align: center;
  }
}

body {
  margin: 0;
}

.statistics {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  font-family: Roboto;
}
.statistics h2 {
  padding-top: 30px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 35px;
  color: #3c3c42;
}
.statistics .text-red {
  color: #a64141;
}
.statistics .stats-inner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 80px;
}
@media (max-width: 760px) {
  .statistics .stats-inner-wrapper {
    padding-bottom: 20px;
  }
}
.statistics .stats-inner-wrapper .numberBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 60px;
  max-width: 220px;
  text-align: center;
}
@media (max-width: 760px) {
  .statistics .stats-inner-wrapper .numberBox {
    margin-right: 0;
    width: 100%;
  }
}
.statistics .stats-inner-wrapper .numberBox .number-value {
  font-size: 30px;
  color: #a64141;
  margin-bottom: 5px;
  font-family: Roboto;
  font-weight: bold;
}
.statistics .stats-inner-wrapper .numberBox .service {
  margin-top: 0;
  color: #585858;
}

.info-section {
  background-color: #f8f8f8;
  font-family: Roboto;
  padding-bottom: 20px;
}
.info-section .info-section-inner-wrapper {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}
.info-section .info-section-inner-wrapper .section-header {
  padding-top: 30px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 35px;
  color: #3c3c42;
}
.info-section .info-section-inner-wrapper .theme-red {
  color: #a64141;
  font-weight: bold;
}
.info-section .info-section-inner-wrapper .issue-example {
  margin-bottom: 30px;
}
.info-section .info-section-inner-wrapper .issue-example .question {
  font-size: 20px;
  margin-bottom: 0;
  color: #3c3c42;
}
.info-section .info-section-inner-wrapper .issue-example .answer {
  margin-top: 5px;
  color: #585858;
}
.info-section .info-section-inner-wrapper .issue-example .answer .external-link {
  text-decoration: underline;
  color: unset;
}

/*# sourceMappingURL=combined.css.map */
